
@import '~@angular/material/theming';

@include mat-core();

$lojaMotos2-primary: mat-palette($mat-indigo);
$lojaMotos2-accent: mat-palette($mat-pink, A200, A100, A400);
$lojaMotos2-warn: mat-palette($mat-red);
$lojaMotos2-theme: mat-light-theme($lojaMotos2-primary, $lojaMotos2-accent, $lojaMotos2-warn);

@include angular-material-theme($lojaMotos2-theme);

/* You can add global styles to this file, and also import other style files */

html,
body { 
    height: 100%;
    background-color: whitesmoke;
 }

body {
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
     }
     

     .container-formulario {
        padding: 16px;
    
        mat-card {
            max-width: 960px;
            margin: auto;
    
        }
    
        .spinner-container {
            margin: auto;
            margin-right: 8px;
        }
    
        .uppercase {
            text-transform: uppercase;
        }
    
        .conteudo {
            max-width: 960px;
            margin: auto;
        }
    }

     form {
        padding: 16px;
    
        mat-card {
            max-width: 960px;
            margin: auto;
    
        }
    
        .spinner-container {
            margin: auto;
            margin-right: 8px;
        }
    
        .uppercase {
            text-transform: uppercase;
        }
    
        .conteudo {
            max-width: 960px;
            margin: auto;
        }
    }

    .mat-snack-bar-container {
        background-color: #4caf50;
        min-width: auto !important;
    }



